/* Globales */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-image: url('images/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white; 
}

img  {
    display: block;
    object-fit: cover;
    width: 100%;
}

ul {
    list-style: none;
}

li{
    color: black;
}

h1, h2, h3 {
    color: gray;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.9rem;
    
}
h3{
    font-size: 1.3rem;
    line-height: 1.25;
}

section {
    margin-top: 6rem;
}

.contenedor {
    width: 84%;
    margin-inline: auto;
}

/* Navegación */

nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 2px solid black;
    backdrop-filter: blur(20px);
}

.nav-logo {
    width: 5rem;
    display: block;
}

.contenedor-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-res-menu {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* Footer */
footer {
    background-color: black;
    margin-top: 6rem;
    padding-top: 6rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.footer li{
   color: white;
}

.derechos-footer {
    text-align: center;
    border-top: 2px solid grey;
    padding: 1rem;
    color: white;
    font-weight: 300;
}

/* Pagina principal */
.contenedor-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.post {
    background: rgba(245, 245, 245, 0.5);
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 2rem;
    transition: all 300ms ease;
    cursor: default;
}

.post:hover {
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.9);
}

.publicacion {
    border-radius: 1rem;
    overflow: hidden;
    height: 16rem;
}

.contenido-post{
    margin-top: 1.5rem;
}
.contenido-post h3{
    margin: 1rem 0 0.6rem;
    color: black;
}


