/* Globales */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-image: url('images/fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white; 
}

img  {
    display: block;
    object-fit: cover;
    width: 100%;
}

ul {
    list-style: none;
}

li{
    color: black;
}

h1, h2, h3 {
    color: gray;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }
    
    h2 {
        font-size: 1.9rem;
        
    }

    h3{
        font-size: 1.3rem;
        line-height: 1.25;
    }
}

section {
    margin-top: 6rem;
}

.contenedor {
    width: 92%;
    margin-inline: auto;
}

@media (min-width: 768px) {
    .contenedor {
        width: 84%;
    }
}

/* Navegación */

nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 2px solid black;
    backdrop-filter: blur(20px);
}

.nav-logo {
    width: 5rem;
    display: block;
}

.contenedor-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

@media (min-width: 768px) {
    .contenedor-nav {
        position: initial;
    }
}


.nav-res-menu{
    display: inline-block;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-res-menu img{
    width: 50px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .nav-res-menu {
        display: none;
    }
}

.nav-menu{
    position: absolute;
    top: 5rem;
    right: 0;
    flex-direction: column;
    gap: 0;
}

@keyframes desplegar {
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.nav-menu li{
    display: block;
    padding: 0.85rem 2.5rem;
    width: 100%;
    box-shadow: -2rem 4rem 4rem rgba(0,0,0,0.26);
    animation: desplegar 500ms ease forwards;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top;
}

@media (min-width: 768px) {
    .nav-menu {
        display: flex;
        align-items: center;
        gap: 3rem;
        position: initial; 
        top: initial; 
        right: initial; 
        flex-direction: row; 
    }

    .nav-menu li {
        display: flex;
        justify-content: space-between; 
        padding: initial;
        width: initial;
        box-shadow: initial; 
        animation: initial; 
        opacity: initial; 
        transform: initial; 
        transform-origin: initial; 
    }
}



/* Footer */
footer {
    background-color: black;
    margin-top: 6rem;
    padding-top: 6rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 4rem;
    }
}

.footer li{
   color: white;
}

.derechos-footer {
    text-align: center;
    border-top: 2px solid grey;
    padding: 1rem;
    color: white;
    font-weight: 300;
}

/* Pagina principal */
.contenedor-posts {
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 768px) {
    .contenedor-posts{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }
}

.contenedor-posts img{
        display: block;
        object-fit: cover;
        max-width: 100%;
}

.post {
    background: rgba(245, 245, 245, 0.5);
    padding: 1rem;
    border-radius: 2rem;
    padding-bottom: 2rem;
    transition: all 300ms ease;
    cursor: default;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .post {
        background: rgba(245, 245, 245, 0.5);
        padding: 1rem;
        border-radius: 2rem;
        padding-bottom: 2rem;
        transition: all 300ms ease;
        cursor: default;
        margin-bottom: 0;
    }
}

.post:hover {
    box-shadow: 0 1.5rem 2rem rgba(255, 255, 255, 0.9);
}

.publicacion {
    border-radius: 1rem;
    overflow: hidden;
    height: 16rem;
}

.contenido-post{
    margin-top: 1.5rem;
}
.contenido-post h3{
    margin: 1rem 0 0.6rem;
    color: black;
}

/* Media queries */
/* @media screen and (max-width: 800px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .contenedor {
        width: 92%;
    }

    .contenedor-nav {
        position: relative;
    }

    .nav-menu{
        position: absolute;
        top: 5rem;
        right: 0;
        flex-direction: column;
        gap: 0;
    }

    @keyframes desplegar {
        to {
            opacity: 1;
            transform: rotateX(0);
        }
    }

    .nav-menu li{
        display: block;
        padding: 0.85rem 2.5rem;
        width: 100%;
        box-shadow: -2rem 4rem 4rem rgba(0,0,0,0.26);
        animation: desplegar 500ms ease forwards;
        opacity: 0;
        transform: rotateX(90deg);
        transform-origin: top;
    }

    .nav-res-menu{
        display: inline-block;
        background: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav-res-menu img{
        width: 50px;
        cursor: pointer;
    }

    .contenedor-posts {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .footer {
        flex-direction: column;
    }

} */


